<div class="bg-dark text-white vh-100 p-3">

    <h4>IKONEX Aca</h4>

    <hr>

    <a href="#" class="d-block text-white text-decoration-none mb-3">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="#" class="d-block text-white text-decoration-none mb-3">
        <i class="bi bi-building"></i>
        Class Streams
    </a>

    <a href="#" class="d-block text-white text-decoration-none mb-3">
        <i class="bi bi-people"></i>
        Students
    </a>

    <a href="#" class="d-block text-white text-decoration-none mb-3">
        <i class="bi bi-book"></i>
        Subjects
    </a>

    <a href="#" class="d-block text-white text-decoration-none mb-3">
        <i class="bi bi-pencil-square"></i>
        Assessments
    </a>

    <a href="#" class="d-block text-white text-decoration-none mb-3">
        <i class="bi bi-clipboard-data"></i>
        Scores
    </a>

    <a href="#" class="d-block text-white text-decoration-none mb-3">
        <i class="bi bi-trophy"></i>
        Results
    </a>

    <a href="#" class="d-block text-white text-decoration-none mb-3">
        <i class="bi bi-file-earmark-pdf"></i>
        Reports
    </a>

</div>