# Django
SECRET_KEY=change-me-in-production
DEBUG=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
# Database
# For local SQLite, leave DATABASE_URL empty.
DATABASE_URL=
DATABASE_NAME=db.sqlite3

# Security / Proxy
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=31536000
